.contact {
	width: 75%;
	margin: 0 auto 3em auto;
	background-color: $primaryColor;
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	

	@include respond-to(mobile){
		display: flex;
		flex-direction: column;
		width: 90%;
		margin: 0 0.5em;
	}

	@include respond-to(mobile-landscape){
		width: 90%;
	}
	
	/*
	@include respond-to(handhelds){
		width: 90%;
		padding-bottom: 1em;
	}
	@include respond-to(handhelds-landscape){
		width: 90%;
		padding-bottom: 1em;
	}
	*/
	
	&-title {
		@include respond-to(mobile){
			margin-bottom: 0.2em;
		}
		
	}
}

.errorMsg {
	color: lighten($gold, 10);
	font : {
		family : $font-sans-serif;
	}
}


