.footer {
	position: relative;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $goldGradient;
	color: $lightSilver;
	padding: 0 2em;
	font: {
		family: $font-cursive;
	}
}

.copyright__title {
	font-size: 0.8em;
	margin: 0.2em;
}

.copyright__text {
	font: {
		size: 0.7em;
		family: $font-sans-serif;
	}
	margin: 0.2em;
}
