.header {
	width: 100%;
	min-height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: $primaryColor;
	border: 1px solid rgba(212, 175, 55, .5);
	font-family: $font-serif;
	z-index: 10;
}
