.main {
    width: 100%;

    .section {
        width: 100%;
        min-height: 100vh;
        background: $title-color;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &__title {
            margin-top: 3.5em;
            flex-basis: 100%;
            text-align:center;
            justify-content: center;
            align-self: center;
            font: {
                family: $font-serif;
                size: 2em;
                weight: bold;
            }
            color: $text-color;

            & span {
                color: $background-color-opacity;
                font : {
                    size: 0.7em;
                    weight: bold;
                }
            }
        }

    }

    .locations {
        width: 100%;
        min-height: 100vh;
        background: $title-color;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        &__title {
            margin-top: 3.5em;
            flex-basis: 100%;
            text-align:center;
            font: {
                family: $font-serif;
                size: 2em;
                weight: bold;
            }
            color: $text-color;

            & span {
                color: $background-color-opacity;
                font : {
                    size: 0.7em;
                    weight: bold;
                }
            }
        }

    }
}
