/* Responsive Mixins */
$small-desktop: 960px;
$large-desktop: 1200px;
$handheld: 768px;
$handhelds-landscape: 1024px;
$mobile: 320px;
$mobile-landscape: 480px;

@mixin respond-to($media) {
  @if $media == largeDesktop {
    @media only screen and (min-width: $large-desktop) { @content }
    }
    @if $media == smallDesktop {
        @media only screen and (max-width: $small-desktop) { @content; }
    }
    @if $media == handhelds {
    @media only screen and (max-width: $handheld) { @content; }
    }
    @if $media == handhelds-landscape {
    @media only screen  and (min-device-width : $handheld)
                        and (max-device-width : $handhelds-landscape)
                        and (orientation : landscape){ @content; }
    }
    @if $media == mobile {
    @media only screen  and (min-width: $mobile)
                        and (min-height: $mobile-landscape)
                        { @content; }
    }
    @if $media == mobile-landscape {
    @media only screen  and (max-width: $mobile-landscape)
                        and (max-height: $mobile)
                        and (orientation : landscape) { @content; }
    }
}

/* To be used like this */

body {
  @include respond-to(mobile-landscape){
    // css code here
  }
}