/* Color */
$primaryColor: #004C74;
$primaryColor-opacity: rgba(0, 76, 116, .8);
$goldGradient: linear-gradient(to right, #797066, #857a6e, #918477, #9e8f7f, #ab9988, #b7a28e, #c2aa94, #ceb39a, #dabc9f, #e7c6a4, #f3cfa8, #ffd9ad);
$lightSilver: #EEFCFF;
$gold: #D4AF37;
$brown: rgba(212, 175, 55, .2);
$blueGreenGradient: linear-gradient(to bottom right, #004D74, #0783C4);

/* Font */
$font-serif: 'Cinzel', serif;
$font-cursive: 'Dr Sugiyama', cursive;
$font-sans-serif: 'Sulphur Point', sans-serif;

