$background-color: #fff;
$text-color: #000004;
$nd-color: #C4151C;
$nd-text-color: #fff;

$fallback-font-stack: "Helvetica, Arial, sans-serif";
$font-title: 'Dr Sugiyama', cursive;
$nd-font: 'Jomolhari', serif;

