.article {
    &__headline {
        font: {
            size: 1.5em;
            family: $font-serif;
            weight: bold;
        }
        color: $lightSilver;
        padding: 0;
        display: inline-block;
        position: relative;

        &--reverse {
            font: {
                size: 1.5em;
                family: $font-serif;
                weight: bold;
            }
            color: $lightSilver;
            padding: 0;
            display: inline-block;
            position: relative;
        }

        &__surface {
            text-align: center;
            color: $primaryColor-opacity;
            font : {
                size: 0.6em;
                weight: bold;
            }
            margin-left: 1em;
            padding: 0 0.4em;
            background: lighten($gold, 35);
            border-radius: 4px;
        }

        &__bar {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 100%;
            background-color: $primaryColor;
            z-index: -1;
            
            &--reverse {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 100%;
                background-color: $primaryColor;
                z-index: -1;
            }
        }
    }
}