.article {
	&__headline {
		font: {
			size: 1.5em;
			family: $font-serif;
			weight: bold;
		}
		width: 100%;
		text-align: center;
		color: $lightSilver;
		padding: 0;
		display: inline-block;
		position: relative;

		&--reverse {
			font: {
				size: 1.5em;
				family: $font-serif;
				weight: bold;
			}
			width: 100%;
			text-align: center;
			color: $lightSilver;
			padding: 0;
			display: inline-block;
			position: relative;
		}

		&__surface {
			display: block;
			width: 3em;
			height: 1.2em;
			margin: 1em auto 0;
			text-align: center;
			color: $primaryColor-opacity;
			font : {
				size: 0.6em;
				weight: bold;
			}
			padding: 0.2em 0.4em;
			background: lighten($gold, 35);
			border-radius: 4px;

			&-loc {
				display: block;
				width: 8em;
				height: 1.2em;
				margin: 1em auto 0;
				text-align: center;
				color: $primaryColor-opacity;
				font : {
					size: 0.6em;
					weight: bold;
				}
				padding: 0.2em 0.4em;
				background: lighten($gold, 35);
				border-radius: 4px;
			}
		}
	}
}
