.contact-form {
    box-sizing: border-box;
    width: 100%;
    padding: 2em;
    align-items: center;

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}