.field {
    width: 65%;
    padding: 1em;

    label {
        color: $text-color;
        text-transform: uppercase;
        display: block;
        padding: 0.7em 0;
        font: {
            weight: 700;
            family: $font-serif;
        }
    }

    input[type=text], input[type=email], textarea {
        padding: 0.7em;
        font: {
            size: 1em;
            weight: bold;
            family: $nd-font;
        }
        color: $background-color;
        width: 100%;
        border: none;
        background-color: lighten($nd-text-color, 35);
    }

    textarea {
        height: 10em;
    }

    button[type=submit] {
        background-color: lighten($nd-text-color, 35);
        color: $background-color;
        padding: 0.8em;
        font: {
            size: 0.8em;
            family: $font-serif;
            weight: 800;
        }
        transition: 0.5s;
        cursor: pointer;
        border: none;
        display: block;
        margin:auto;
        width: 100px;
        

        &:hover {
            background-color: lighten($background-color, 5);
            color: $nd-text-color;
        }
    }
}