.hero {
	&__title {
		text-align: center;
		font-family: $font-cursive;
		font-size: 10em;
		margin: 0;
		background: $goldGradient;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;

		@include respond-to(mobile){
			font-size: 2em;
		}

		@include respond-to(mobile-landscape){
			font-size: 2em;
		}

		/*
		@include respond-to(handhelds){
			font-size: 4em;
			padding: 1em;
		}
		
		@include respond-to(handhelds-landscape){
			font-size: 4em;
			padding: 1em;
		} 
		*/

		
	}
}
