.location-chalet {

    display: flex;
    flex-direction: row;
    margin: 0.5em 1em;
    flex-basis: 47%;

    &__img {
        display: block;
        width: 50%;
        border-radius: 15%;
        margin: 0 1em;
    }
}