.header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 2.5em;

    & a {
        font: {
            family: $font-cursive;
            size: 2em;
        }
        color: $lightSilver;
        text-decoration: none;

        &:hover {
            color: $gold;
        }
    }

    &-baseline {
        font-size: 0.6em;
        font-weight: bold;
        color: $lightSilver;
    }
}