.header__logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em 2.5em;
	@include respond-to(mobile){
		margin: 0 0.5em;
		align-items: flex-start;
		
	}

	& a {
		font: {
			family: $font-cursive;
			size: 2em;
		}
		color: $lightSilver;
		text-decoration: none;
		@include respond-to(mobile){
			font-size: 1.5em;
		}

		&:hover {
			color: $gold;
		}
	}

	&-baseline {
		font-size: 0.6em;
		font-weight: bold;
		color: $lightSilver;
	}
}
