.main-nav {
    padding: 1.5em 1em;
    margin-right: 1.5em; 

    &__link {
        text-decoration: none;
        padding: 0 1em;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bold;
        color: $text-color;

        &:hover {
            color: $nd-text-color;
            border-top: 1px solid $nd-text-color;
            border-bottom: 1px solid $nd-text-color;
            padding-top: 0.3em;
            padding-bottom: 0.3em;
            transition: .48s all ease-in-out;
        }
    }
}