.main-nav {
	padding: 1.5em 1em;
	margin-right: 1.5em;

	@include respond-to(mobile){
		padding: 0;
		margin: 0;
	}

	@include respond-to(mobile-landscape){
		padding: 0;
		margin: 0;
	}

	&__link {
		text-decoration: none;
		padding: 0 1em;
		font-size: 1em;
		text-transform: uppercase;
		font-weight: bold;
		color: $lightSilver;
		cursor: pointer;

		@include respond-to(mobile){
			font-size: 0.6em;
			padding: 0 0.8em;
		}

		@include respond-to(mobile-landscape){
			font-size: 0.7em;
		}

		&:hover {
			color: $gold;
			border-top: 1px solid $gold;
			border-bottom: 1px solid $gold;
			padding-top: 0.3em;
			padding-bottom: 0.3em;
			transition: .48s all ease-in-out;
		}
	}
}

.menu-toggle {
	@include respond-to(mobile){
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-end;
	}

	@include respond-to(mobile-landscape){
		display: none;
	  }
}

.menu-burger {
	font-size: 1.5em;
	padding-top: 0.5em;

	&:hover {
		color: $gold;
		border: none;
	}
}

.mobile {
	@include respond-to(mobile){
		display: none;
	}
	
}

.open {
	@include respond-to(mobile){
		display: flex;
		padding: 0;
		margin: 0 0 0.5em 0;
	}	
}

.main-nav-toggle {
	@include respond-to(mobile){
		width: 100%;
	}
	
}


.desktop {
	@include respond-to(mobile){
		display: none;
	}

	@include respond-to(mobile-landscape){
		display: flex;
	}
}

